# Archivos generados por el sistema operativo
.DS_Store

# Carpeta virtualenv
venv/

# Archivos de configuración específicos del editor
.vscode/
.idea/

# Archivos de caché y registros
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de registros y caches de testing
test_reports/
.coverage

# Carpeta de resultados de pruebas
htmlcov/

# Archivos de entorno
.env

# Carpeta de construcción de paquetes
dist/
build/

# Carpeta de registros
logs/

# Archivos de configuración local
.local/
.pytest_cache